body {
  background-color: black;
}

#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#parent {
  width: 99%;
  height: 600px;
  display: inline-block;
  position: relative;
}

#status-msg {
  border: 1px solid grey;
  border-radius: 7px;
}
