body {
  background-color: #0d1117;
  font-family: Arial, sans-serif;
}
#icon-github {
  color: white;
  font-size: 17px;
}

#btn-login {
  color: white;
  background-color: #333;
  border: none;
  padding: 1px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
h3 {
  color: white;
  font-size: large;
}

#btn-login:hover {
  background-color: #555;
}
